{% extends '::layout.html.twig' %}

{% block title %}MniPagesBundle demo{% endblock %}

{% block content %}

    <h1 class="title">Welcome!</h1>

    <p>Congratulations! You have successfully installed a new Symfony application.</p>

{% endblock %}
