{% extends '::layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="title">Welcome!</h1>
        <p class="lead">This is a demo of the MniPagesBundle.</p>
    </div>

    {{ component('MniPagesDemoBundle:RandomNumber') }}

    {{ component('MniPagesDemoBundle:RandomNumber') }}

{% endblock %}
