{% extends '::layout.html.twig' %}

{% block content %}

    <div class="jumbotron">

        <h1>
            {{ title }}
            <small>This is a demo of the MniPagesBundle.</small>
        </h1>

        <form class="form-inline" data-page-action="setTitle" data-page-refresh>
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="{{ title }}">
            </div>
            <button type="submit" class="btn btn-default">Update title and refresh</button>
            <small>(this is an example of a page action)</small>
        </form>

    </div>

    <div class="row">
        {{ component('MniPagesDemoBundle:RandomNumber') }}

        {{ component('MniPagesDemoBundle:RandomNumber') }}
    </div>

{% endblock %}
