<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MniPagesBundle demo{% endblock %}</title>

    {% stylesheets 'bundles/mopabootstrap/bootstrap/dist/css/*.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% javascripts '@MniPagesDemoBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts 'bundles/mopabootstrap/bootstrap/dist/js/bootstrap.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@MniPagesBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>

    <div class="container">

        {% block content %}{% endblock %}

    </div>

</body>
</html>
