{% extends "TwigBundle::layout.html.twig" %}

{% block title 'Demo' %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
